.Header {
    background-color: #8C8B8C;
    padding-top: 3vh;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    vertical-align: center;
    align-items: center;
    width: 100vw;
    position: absolute;
    padding-left: 5px;
}

.Title {
    height: 12vh;
}

.SmallTitle {
    display: none;
}

.HeaderLink {
    font-style: bold;
    /* background-color: #FFE521; */
    padding: 1vw;
    margin-right: 1vw;
    color: #01236F;
    /* background: #FFE521; */
}

.Logo {
    height: inherit;
}

@media screen and (max-width: 1000px) {
    .Title {
        display: none;
    }

    .SmallTitle {
        /* vertical-align: center; */
        display: flex;
        height: 4vh;
        margin-bottom: 0;
        /* margin-left: 10px;
        margin-bottom: 0;  */
    }
}