.form-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    outline: #8C8B8C solid 0.7vw;
    padding: 3vh 6vw 3vh 6vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #01236F;
    color: white;
    box-shadow: 1.2vw 2.5vh 10px 8px rgb(54, 54, 54);
}

@media screen and (max-width: 1000px) {
    .form {
        padding-top: 12vh;
    }
}

.email-form {
    max-width: 300px;
}